﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="~/SiteBackOffice.Master" Inherits="pointofsales.Web.home.WebForm1" %>

<% 
    if (HttpContext.Current.Session["IDRole"] != null && HttpContext.Current.Session["IDRole"].ToString() == "1")
    {
        NameValueCollection menuBackOffice = new NameValueCollection()
{
    { "Home", "home" },
    { "Transfer Stock", "transferstock" }
};
%>
<
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Point Of Sales</title>
    <%--<link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link href="../Content/navbar-fixed-top.css" rel="stylesheet" />--%>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="../navbar/">Default</a></li>
                            <li><a href="../navbar-static-top/">Static top</a></li>
                            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
            <div class="container">

                <!-- Main component for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <h1>Navbar example</h1>
                    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                    <p>To see the difference between static and fixed top navbars, just scroll.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
                    </p>
                </div>

            </div>
        </div>
        <%--<script src="../Scripts/jquery-3.1.1.min.js"></script>
        <script src="../Scripts/bootstrap.js"></script>
        <script src="../Scripts/ie10-viewport-bug-workaround.js"></script>--%>
    </form>
</body>
</html>
<%}
    else
    {
        Response.Redirect("../login/index.aspx");
    }
%>

