﻿html, body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(135deg, rgba(155, 89, 182, 0.8) 0%, rgba(211, 84, 0, 0.8) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  /*width: 80%;*/
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  /*background: white;*/
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /*min-width: 300px;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/
  -webkit-justify-content: space-between;
  /*justify-content: space-between;*/
}

input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  height: 100%;
  padding: 0px 20px 0px 40px;
  border: 0;
  -webkit-flex: 10 10 1px;
  flex: 10 10 1px;
}

input:focus {
  outline: none;
}

input:focus + label:after {
  color: #666;
}

input#username {
  border-radius: 4px 0 0 4px;
}

input[type="submit"] {
  -webkit-flex: 0 0 100px;
  flex: 0 0 100px;
  background: #ED6F70;
  border: 0;
  border-radius: 0 4px 4px 0;
  font-family: Roboto;
  color: white;
  padding: 0;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 8px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

label {
  font-size: 0;
}

label[for="username"] {
  -webkit-flex: 0 0 30px;
  flex: 0 0 30px;
}

label[for="username"]:after, label[for="password"]:after {
  content: '\1F464';
  font-family: entypo;
  /*position: absolute;*/
  top: 50%;
  left: 13px;
  text-indent: 0;
  font-size: 18px;
  margin-top: -10px;
  color: #ccc;
}

label[for="password"]:before {
 /*position: absolute;*/ 
  top: 50%;
  left: calc(50% - 40px);
  text-indent: 0;
  content: '';
  width: 1px;
  height: 30px;
  margin-top: -15px;
  border-left: 1px solid #ccc;
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

label[for="password"]:after {
  /*content: '\1F512';*/
  left: calc(50% - 15px);
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

label[for="username"], label[for="password"] {
    display: block;

}

